[*.html]
insert_final_newline = true
trim_trailing_whitespace = true
# Don't auto-format Hugo templates
max_line_length = off

[layouts/**/*.html]
# Hugo template files - disable auto-formatting
insert_final_newline = true
trim_trailing_whitespace = false
indent_style = space
indent_size = 2
